 Grid.ComboListGrid01>#controlcombo>#combolist:selected
{
 color   : red;
 background  : ;
 border   : 1 solid #a6a6a9, 1 solid #d5d5d5, 1 solid #d5d5d5, 1 solid #a6a6a9;
 bordertype  : normal;
}                                                                                                                                                                                                                                                                                                              